[submodule "sample/libs/ViewPagerIndicator"]
	path = sample/libs/ViewPagerIndicator
	url = git@github.com:twotoasters/Android-ViewPagerIndicator.git
[submodule "library/libs/polaris2"]
	path = library/libs/polaris2
	url = git@github.com:twotoasters/Polaris2.git
